$blue: #1e43c9;
$white: #FFFFFF;
$text: #333333;
$purple: #5754FF;

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
	font-family: "Roboto-Black";
	src: url("../fonts/Roboto-Black.ttf");
}
* {
	margin: 0;
	padding: 0;
}
.toUp {
	border: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: transparent;
	transition: 0.4s;
	cursor: pointer;
	opacity: 70%;
	&:hover {
		opacity: 100%;
	}
}
#header {
    width: 100%;
    background-color: $white;
    z-index: 15;
    position: fixed;
    margin: 0;
    top: 0;
    box-shadow: 0 0 5px black;
	.container {
		display: flex;
		align-items: center;
		padding: 10px 0;
		margin-left: 20%;
		top: 0;
		.logo_link {
			padding: 0;
			height: 47px;
			.logo-img {
				height: 100%;
				width: auto;
			}
		}
		.header-menu {
			list-style: none;
			.menu-item {
				display: inline-block;
				padding: 10px 20px;
				a {
					text-decoration: none;
					font-family: "Roboto", Sans-serif;
					font-size: 15px;
					font-weight: 600;
					color: #333333;
					font-style: normal;
					transition: 0.4s;
					&:hover {
						color: #5754FF;
					}
				}
			}
			.item-active {
				a {
					color: #5754FF;
				}
			}
		}
		.call_me {
			padding: 12px 24px;
			font-family: "Roboto", "sans-serif";
			font-weight: 600;
			font-size: 16px;
			margin: 0 10px;
			color: #FFFFFF;
			background-color: #5754FF;
			border: solid 2px #5754FF;
			transition: 0.4s;
			cursor: pointer;
			&:hover {
				background-color: #FFFFFF;
				color: #5754FF;
			}
		}
		.select_lang {
			padding: 12px;
			color: #666;
			border: solid 1px #eaeaea;
			font-size: 16px;
			font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
		}
	}
}
#PronasSection {
	padding-top: 60px;
	background-image: url(/images/bg_dursec.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	animation-duration: 1.25s;
	animation-name: slideInUp;
	background-color: #FFFFFF;
	padding: 0 15%; 
    padding-top: 5%;
	position: relative;

	.op 
	{
		z-index: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 86%;
		background-color: #FFFFFF;
		left: 0;
		top: 0;
	}
	.bg {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		
		.first {
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			text-align: center;
			color: $text;
			display: block;
			font-weight: 400;
			font-style: normal;
			line-height: 27px;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			text-size-adjust: 100%;
			z-index: 10;
		}
		.text2 {
			color: $text;
			text-align: center;
			font-size: 43px;
			font-family: 'Roboto-Black', sans-serif;
			z-index: 10;
			display: block;
		}
		.line {
			background-color: $purple;
			width: 180px;
			height: 8px;
			z-index: 10;
		}
	}
	.pic {
		z-index: 10;
		display: flex;
		justify-content: space-between;
        padding: 0;
		.soldphoto {
			z-index: 10;
			background-image: url(/images/SoldierPicture.png);
			height: 780px;
			min-width: 595px;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.words {
			z-index: 10;
			font-family: "Open Sans", sans-serif;
			font-size: 18px;
			padding: 25px 0px;
			color: #393434;			
            font-weight: 200;
            padding-top: 180px;
		}
	}
}

  #MainSection {
	width: 100%;
	height:520px;
	margin-top: 70px;
	margin-bottom: 0px;
	background-image: url(/images/MainSection_bacground.png);
	background-position: 0px -211px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	.allinfo {
		margin-left: 400px;
		justify-content: center;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;

		.text1 {

			font-family: "Roboto-Black", Sans-serif;
			color: white;
			font-size: 64pt;
	
			height: fit-content
		}
		.text2 {
			margin: 30px 0 30px 0;
			font-family: "Roboto", Sans-serif;
			color: white;
			font-size: 12pt;
			font-weight: 550;

			height: fit-content;
			line-height: 1.5 ;
		}
		.buttKonsultacia{
			margin: 20px 0 20px 0;
			width: 250px;
			height: 40px;
			background-color: none;
			border: 2px solid white;
			text-align: center;
			line-height:40px;
			font-family:"Roboto", Sans-serif;
		    font-weight: 450;
			color: white;
		}
		.buttKonsultacia:hover {
			background-color: white;
			color: #1916aa
		}
   }
}
 
#KonsulSection{

}

#PoslugySection{

}

#PortfolioSection{

}

#FeedbackSection{

}

#FeedbackGoogleSection
{
	.bg {

		z-index: 5;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		
		.first {
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			text-align: center;
			color: $text;
			display: block;
			font-weight: 400;
			font-style: normal;
			line-height: 27px;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			text-size-adjust: 100%;
		}
		.text2 {
			color: $text;
			text-align: center;
			font-size: 65px;
			font-family: 'Roboto-Black', sans-serif;
		}
		.line {
			background-color: $purple;
			width: 245px;
			height: 8px;
		}
	}

	.box
	{
		border: 3px solid black;
		
		width: 450px;

		padding: 10px 20px;

		flex-direction: row;

		align-self: center;

		position: relative;

		box-sizing: border-box;

		display: flex;

		.outerbox .txt
		{
			color: #333333;
			font-family: "Open Sans", Sans-serif;
			font-size: 17px;
			font-weight: 400px;
			padding: 20px 0px;
		}
		.outerbox .name .photo .rlname
		{
			color: #4c4cff;
			font-family: "Roboto", Sans-serif;
			font-size: 16px;
			font-weight: 600px;
		}
		.outerbox .name .photo .fullpic
		{
			background-image: url(/images/yulia.jpg);
		}
	}
}

#FooterSection{

}

#UnderFooterSection{

}

body{
    height: 100%;
    top: 0;
}