$blue: #1e43c9;
$white: #FFFFFF;
$text: #333333;
$purple: #5754FF;


@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
	font-family: "Roboto-Black";
	src: url("../fonts/Roboto-Black.ttf");
}
* {
	margin: 0;
	padding: 0;
}
@keyframes butAnim{
	from{
		margin-top: 13px;
	}
	to{
		margin-top: 8px;
	}
   }
.toUp {
	border: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: transparent;
	transition: 0.4s;
	cursor: pointer;
	opacity: 70%;
	&:hover {
		opacity: 100%;
	}
}
#header {
    width: 100%;
    background-color: $white;
    z-index: 15;
    position: fixed;
    margin: 0;
    top: 0;
    box-shadow: 0 0 5px black;
	.container {
		display: flex;
		align-items: center;
		padding: 10px 0;
		margin-left: 20%;
		top: 0;
		.logo_link {
			padding: 0;
			height: 47px;
			.logo-img {
				height: 100%;
				width: auto;
			}
		}
		.header-menu {
			list-style: none;
			.menu-item {
				display: inline-block;
				padding: 10px 20px;
				a {
					text-decoration: none;
					font-family: "Roboto", Sans-serif;
					font-size: 15px;
					font-weight: 600;
					color: #333333;
					font-style: normal;
					transition: 0.4s;
					&:hover {
						color: #5754FF;
					}
				}
			}
			.item-active {
				a {
					color: #5754FF;
				}
			}
		}
		.call_me {
			padding: 12px 24px;
			font-family: "Roboto", "sans-serif";
			font-weight: 600;
			font-size: 16px;
			margin: 0 10px;
			color: #FFFFFF;
			background-color: #5754FF;
			border: solid 2px #5754FF;
			transition: 0.4s;
			cursor: pointer;
			&:hover {
				background-color: #FFFFFF;
				color: #5754FF;
			}
		}
		.select_lang {
			padding: 12px;
			color: #666;
			border: solid 1px #eaeaea;
			font-size: 16px;
			font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
		}
	}
}
#PronasSection {
	padding-top: 60px;
	background-image: url(../images/bg_dursec.jpg);
	background-image: url(../images/bg_dursec.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	animation-duration: 1.25s;
	animation-name: slideInUp;
	background-color: #FFFFFF;
	padding: 0 15%; 
    padding-top: 5%;
	position: relative;
	transition: margin-top 1s;
	margin-top: 400px;
	.op 
	{
		z-index: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 86%;
		background-color: #FFFFFF;
		left: 0;
		top: 0;
	}
	.bg {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		
		.first {
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			text-align: center;
			color: $text;
			display: block;
			font-weight: 400;
			font-style: normal;
			line-height: 27px;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			text-size-adjust: 100%;
			z-index: 10;
		}
		.text2 {
			color: $text;
			text-align: center;
			font-size: 43px;
			font-family: 'Roboto-Black', sans-serif;
			z-index: 10;
			display: block;
		}
		.line {
			background-color: $purple;
			width: 180px;
			height: 8px;
			z-index: 10;
		}
	}
	.pic {
		z-index: 10;
		display: flex;
		justify-content: space-between;
        padding: 0;
		.soldphoto {
			z-index: 10;
			background-image: url(../images/SoldierPicture.png);
			background-image: url(../images/SoldierPicture.png);
			height: 780px;
			min-width: 595px;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.words {
			z-index: 10;
			font-family: "Open Sans", sans-serif;
			font-size: 16px;
			padding: 25px 0px;
			color: #393434;			
            font-weight: 200px;
            padding-top: 180px;
			letter-spacing: 1px;
			line-height: .7cm;

		}
	}
}

  #MainSection {
	width: 100%;
	height:520px;
	margin-top: 70px;
	margin-bottom: 0px;
	background-image: url(../images/MainSection_bacground.png);
	background-image: url(../images/MainSection_bacground.png);
	background-position: 0px -211px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	
	.allinfo {
		margin-left: 400px;
		justify-content: center;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		
		.text1 {

			font-family: "Roboto-Black", Sans-serif;
			color: white;
			font-size: 64pt;
	
			height: fit-content
		}
		.text2 {
			margin: 30px 0 30px 0;
			font-family: "Roboto", Sans-serif;
			color: white;
			font-size: 12pt;
			font-weight: 550;

			height: fit-content;
			line-height: 1.5 ;
		}
		.buttKonsultacia{
			margin: 20px 0 20px 0;
			width: 250px;
			height: 40px;
			background-color: none;
			border: 2px solid white;
			text-align: center;
			line-height:40px;
			font-family:"Roboto", Sans-serif;
		    font-weight: 450;
			color: white;
		}
		.buttKonsultacia:hover {
			background-color: white;
			color: #1916aa;
			cursor: pointer;
		}
   }
}
#KonsulSection{
	width: 100%;
	height:410px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg_22.jpg);
	background-image: url(../images/bg_22.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: relative;
	overflow: hidden;
	.grab{
		
		height: 410px;
		width:400px;
		background-size: 105% auto;
		background-image: url(../images/grab.png);
		left: 1700px;
		background-repeat: no-repeat;
		z-index: 5;
		position: absolute;
		transition: left 1.5s;
	}
	.backcolor{
		width: 100%;
		height: 100%;
		background-color: #2600ff;
		z-index: 0;
		opacity:80% ;
		position: absolute;
	}
	.allinfo {
		margin-left: 0px;
		padding-top: 20px;
		justify-content: center;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		z-index: 5;
		transition: 1.5s;

		.text1_2{

			font-family: "Roboto-Black", Sans-serif;
			color: white;
			font-size: 34pt;
			z-index: 5;
			height: fit-content
		}
		.text2 {
			margin: 20px 0 20px 0;
			font-family: "Roboto", Sans-serif;
			color: white;
			font-size: 12pt;
			font-weight: 550;
			z-index: 5;
			height: fit-content;
			line-height: 1.5 ;
		}
		.buttKonsultacia{
			margin: 20px 0 20px 0;
			width: 250px;
			height: 40px;
			background-color: none;
			border: 2px solid white;
			text-align: center;
			line-height:40px;
			font-family:"Roboto", Sans-serif;
		    font-weight: 450;
			color: white;
			z-index: 5;
		}
		.buttKonsultacia:hover {
			background-color: white;
			color: #1916aa;
			cursor: pointer;
		}
	
   }

}

#PoslugySection{
	padding: 70px 20%;
	transition: margin-top 1s;
	margin-top: 400px;
	.header-section{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.first {
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			text-align: center;
			color: $text;
			display: block;
			font-weight: 400;
			font-style: normal;
			line-height: 27px;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			text-size-adjust: 100%;
			z-index: 10;
		}
		.text2 {
			color: $text;
			text-align: center;
			font-size: 43px;
			font-family: 'Roboto-Black', sans-serif;
			z-index: 10;
			display: block;
		}
		.line {
			background-color: $purple;
			width: 180px;
			height: 8px;
			z-index: 10;
		}
	}
	.content{
		margin-top: 60px;
		table{
			width: 100%;
			tr{
				height: 280px;
				td{
					height: 280px;
					overflow: hidden;
					.fill_content2{
						width: 100%;
						height: 100%;
						position: relative;
						transition: 1s;
						transform-style: preserve-3d;
						backface-visibility: hidden;
						text-align: center;
						display: flex;
						justify-content: center;
						&:hover {
							transform: rotateX( 180deg );
						}
						.img_td{
							position: absolute;
							width: 100%;
							height: 100%;
							background-size: cover;
							filter: brightness(70%);
						}
						.Zagovolok{
							color: $white;
							font-family: "Roboto-Bold";
							text-align: center;
							font-size: 32px;
							overflow-wrap: break-word;
							word-wrap: break-word;
							padding: 30px;
							position: absolute;
							bottom: 0;
						}
							.bg-front{
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;
								background-color: transparent;
								background-image: linear-gradient(180deg, #4C4CFF 0%, #1F1FFF 100%);
								transform: rotateX( 180deg );
								transform-style: preserve-3d;
								backface-visibility: hidden;
								display: flex;
								align-items: center;
								justify-content: center;
								span{
									color: $white;
									font-family: "Roboto";
									text-align: center;
									font-size: 14px;
									overflow-wrap: break-word;
									word-wrap: break-word;
									padding: 0 30px;
									line-height: 26px;
								}
						}
					}
					
					
				}
			}
			&:nth-child(2){
				tr{
					td{
						.fill_content2{
							.Zagovolok{
								font-size: 24px;
							}
						}
					}
				}
			}
		}

	}
}

#PortfolioSection{
	transition: margin-top 1s;
	background-color: #9595FF33;
	padding: 70px;
	display: flex;
	margin-top: 400px;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	.header-section{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.first {
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			text-align: center;
			color: $text;
			display: block;
			font-weight: 400;
			font-style: normal;
			line-height: 27px;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			text-size-adjust: 100%;
			z-index: 10;
		}
		.text2 {
			color: $text;
			text-align: center;
			font-size: 43px;
			font-family: 'Roboto-Black', sans-serif;
			z-index: 10;
			display: block;
		}
		.line {
			background-color: $purple;
			width: 180px;
			height: 8px;
			z-index: 10;
		}
	}
	.content{
		margin-top: 60px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		table{
			width: fit-content;
			tr{
				height: 265px;
				td{
					height: 265px;
					width: 265px;
					overflow: hidden;
					.fill_content2{
						width: 100%;
						height: 100%;
						position: relative;
						transition: 1s;
						&:hover {
							.onhover{
								opacity: 100;
							}
						}
						.img_td{
							position: absolute;
							width: 100%;
							height: 100%;
							background-size: cover;
						}
						.onhover{
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							z-index: 5;
							justify-content: center;
							display: flex;
							align-items: center;
							background-color: rgba(0, 0, 0, 0.4);
							transition: 0.4s;
							opacity: 0;
							button{
								background-color: transparent;
								border: 0;
								cursor: pointer;
								padding: 0;
								&:hover{
									span{
										transform: rotateZ(90deg);
										opacity: 70%;
									}
								}
								span{
									color: $white;
									font-size: 55px;
									font-weight: bold;
									transition: 0.4s;
								}
							}
						}
					}
					
					
				}
			}
		}

	}
}

#FeedbackSection{
	width: 100%;
	height:350px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(../images/back3.jpeg);
	background-image: url(../images/back3.jpeg);
	background-position: 0px -220px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: relative;

	.backcolor{
		width: 100%;
		height: 100%;
		background-color: #2600ff;
		z-index: 0;
		opacity:90% ;
		position: absolute;
	}
	.allinfo {
		margin-left: 450px;
		padding-top: 10px;
		justify-content: center;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		z-index: 5;
		.text1_2{

			font-family: "Roboto-Black", Sans-serif;
			color: white;
			font-size: 34pt;
			z-index: 5;
			height: fit-content;
			text-align: center;
			
		}
		.text2 {
			margin: 20px 0 20px 0;
			font-family: "Roboto", Sans-serif;
			color: white;
			font-size: 12pt;
			font-weight: 550;
			z-index: 5;
			height: fit-content;
			line-height: 1.5 ;
			text-align: center;
		}
		.butts{
			z-index: 5;
			width: 100%;
			display: flex;
			height: 100px;
			
			.buttV1{
				margin-left:50px;
				margin-top: 20px;
				width:400px;
				height: 40px;
				background-color: none;
				border: 2px solid white;
				background-image: url(../images/Group-9.png);
				background-image: url(../images/Group-9.png);
				background-position: 0px 0px;
				background-repeat: no-repeat;
				background-size: 100% auto;
				z-index: 5;
				&:hover {
					animation: butAnim 0.6s linear alternate infinite;
				}
	
			}
			.buttV2{
				margin-left: 30px;
				width: 400px;
				height: 40px;
				margin-top: 20px;
				
				background-color: none;
				border: 2px solid white;
				background-image: url(../images/Group-10.png);
				background-image: url(../images/Group-10.png);
				background-position: 0px 0px;
				background-repeat: no-repeat;
				background-size: 100% auto;
				z-index: 5;
				&:hover {
					animation: butAnim 0.6s linear alternate infinite;
				}
			}
		}
		
		.buttKonsultacia:hover {
			background-color: white;
			color: #1916aa;
			cursor: pointer;
		}
	
   }
}

#FeedbackGoogleSection
{
	background-color:#9595FF21;
	padding-top: 70px;
	margin-top: 400px;
	transition: margin-top 1s;
	position: relative;
	.bg {
		
		padding-bottom: 30px;
		z-index: 5;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		
		.first {
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			text-align: center;
			color: $text;
			display: block;
			font-weight: 400;
			font-style: normal;
			line-height: 27px;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			text-size-adjust: 100%;
			padding: 0 20px;
		}
		.text2 {
			color: $text;
			text-align: center;
			font-size: 65px;
			font-family: 'Roboto-Black', sans-serif;
		}
		.line {
			background-color: $purple;
			width: 245px;
			height: 8px;
		}
	}

	.GridShow
	{
		
		display: grid;

		grid-template-columns: 50% 50%;

		padding: 40px 300px;

		grid-row-gap: 20px;

		grid-column-gap: 10px ;

		.box
		{
			box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 5px 0px;
			border: 2px solid rgba(26, 24, 24, 0.184);
		
			flex-direction: row;

			align-self: center;

			position: relative;

			box-sizing: border-box;

			border-radius: 4px;

			

			.outerbox
			{
				padding: 10px 20px;
				height: 275px;
				.txt
				{
					height: 130px;
					letter-spacing: 1px;
					line-height: .7cm;
					color: #333333;
					font-family: "Open Sans", Sans-serif;
					font-size: 15px;
					font-weight: 100px;
					padding: 20px 0px;

					
				}
				.name
				{
					.photo
					{
						display: flex ;
						align-items: center;
						.rlname
						{
							padding: 0px 20px;
							color: #4c4cff;
							font-family: "Roboto", Sans-serif;
							font-size: 16px;
							font-weight: 600px;
						}
						.fullpic
						{
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: 50%;
							min-height: 60px;
							min-width: 60px;
							background-image: url(../images/yulia.jpg);
							background-image: url(../images/yulia.jpg);
						}
						.fullpic1
						{
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: 50%;
							min-height: 60px;
							min-width: 60px;
							background-image: url(../images/Eugene.jpg);
							background-image: url(../images/Eugene.jpg);
						}
						.fullpic2
						{
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: 50%;
							min-height: 60px;
							min-width: 60px;
							background-image: url(../images/Vdim.jpeg);
							background-image: url(../images/Vdim.jpeg);
						}
						.fullpic3
						{
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: 50%;
							min-height: 60px;
							min-width: 60px;
							background-image: url(../images/Yura.jpg);
							background-image: url(../images/Yura.jpg);
						}
					}
				}			
				
			}
			&:hover
				{
					background-color: #bdbdca77;
				}
		}
	}
	
	

}

#FooterSection{

	padding-top: 50px;
	padding-bottom: 50px;
	
	.maindiv
	{
		display: flex;

		justify-content: center;
		
		align-items: start;
		.firstbox
		{
			
			width: 400px;

			.intel
			{
				padding: 20px;
				.title
				{
					.sometext
					{

							color: rgb(58, 58,58);
							font-size: 15px;
							font-family: "Roboto", Sans-serif;
							font-weight: bold;
							display: block;
						
					}
				}
				.paragraphs
				{
					.sometext2
					{
							color: rgb(84, 84, 84);
							font-size: 15px;
							font-family: "Open Sans", Sans-serif;
							font-weight: 100;
							letter-spacing: 1px;
							
					}
				}
				.subtitle
				{
					.sometext3
					{
							color: rgb(112, 112,112);
							font-size: 15px;
							font-family: "Roboto", Sans-serif;
							font-weight: 400px;
							display: block;
					}
				}


			}
		}

		.contactdiv
		{
		
			padding-bottom: 40px;
			width: 225px;
			
			.mostinfo
			{
				padding: 20px;

				.title
				{
					
					.sometext
					{

							color: rgb(58, 58,58);
							font-size: 15px;
							font-family: "Roboto", Sans-serif;
							font-weight: bold;
							display: block;
						
					}

				}
				
				.contacinfo
				{
					padding: 20px 0;
					.ulli
					{
						ul
						{
							list-style-type: none;
							
							li
							{
								text-align: center;
								
							    a
								{
									display: flex;
									justify-content: start;
									align-items: center;
									text-decoration: none;		
															
									.number
									{
										color: #333333;
									}
									.material-symbols-outlined
									{
										
										color:#333333;
									}
										
								}
								a :hover
								{ 
									color: #4c4cff;
								}
							}
						}
						
					}
				}
				
			}


		}

		.thirdbox
		{
			width: 500px;
			
			
			.outerbox
			{
				padding: 20px;
				.title
				{
							color: rgb(58, 58,58);
							font-size: 15px;
							font-family: "Roboto", Sans-serif;
							font-weight: bold;
							display: block;
				}

				.everything
				{
					text-align: start;
					

					.FullName
					{				
						
						.inp
						{	
							padding: 15px;
							max-width: 100%;
							border: hidden;
							outline: none;
						}
						.line
						{
							background-color: #4c4cff;
							height: .7px;
						}
					}
					
					.telephone
					{
						
						.inp
						{
							padding: 15px;
							max-width: 100%;
							border: hidden;
							outline: none;
						}
						.line
						{
							background-color: #4c4cff;
							height: .7px;
						}
						
					}

					.submitbutton
					{
						padding: 10px 0px;
							a
							{

										background-color: #4c4cff;
										width: 100%;
										padding: 10px 0 ;
										border-style: none;
										border-radius: 3px;
										display: block;
										cursor: pointer;
										text-align: center;
										text-decoration: none;
										color: whitesmoke;
										font-weight: 600;
										width: 100%;
										height: 100%;
										font-size: 15px;
										font-family: Arial, Helvetica, sans-serif;
												
							}
						}
						
					}
					
				}
			}
		}

	}


#UnderFooterSection{

	.bottom
	{		
		display: flex;

		justify-content: center;

		align-items: center;

		background-color: rgb(33, 33, 33);
		.ai{
			padding: 8px;
			color: white;
			font-size: 16px;
			text-align: center;
			font-family: "Montserrat", Sans-serif;
			font-weight: 500;
		}
	}

}

body{
    height: 100%;
    top: 0;
}

.modal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 20; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
	justify-content: center;
	align-items: center;
	.modal-block{
		background-color: #fefefe;
		margin: auto;
		padding: 30px 20px;
		border: 0;
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		.name{
			color: $purple;
			font-family: "Roboto-Black", Sans-serif;
			font-size: 32px;
		}
		.description{
			text-align: center;
			color: $text;
			font-family: "Open Sans", Sans-serif;
			font-size: 16px;
			font-weight: 400;
			opacity: 85%;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		form{
			display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
			input{
				width: 430px;
				padding: 12px;
				margin: 5px 0;
				color: rgb(122, 122, 122);
				font-family: "Roboto", Sans-serif;
				font-size: 15px;
				border: solid 1px rgb(118, 118, 118);
				border-radius: 2px;
				transition: 0.4s;
				box-shadow: 0;
				&:focus{
					outline: none;
					border: solid 1px $purple;
				}
				&::placeholder{
					color: rgb(190, 189, 189);
				}
				&[type="tel"]{
					
					&:focus{
						border: solid 1px rgb(190, 189, 189);
					}
				}
			}
			.subm{
				background-color: $purple;
				color: $white;
				font-family: "Roboto-Bold", Sans-serif;
				font-size: 16px;
				width: 100%;
				border: 0;
				padding: 9px 0;
				margin-top: 5px;
				transition: 0.4s;
				cursor: pointer;
				border: solid 2px $purple;
				&:hover{
					background-color: $white;
					color: $purple;
				}
			}
		}
		
		.close{
			background-color: transparent;
			border: 0;
			position: absolute;
			right: 20px;
			top: 20px;
			cursor: pointer;
			span{
				font-size: 18px;
				font-weight: bold;
				color: $text;
			}
		}
	}
}

html {
	scroll-behavior: smooth;
  }

.slider_bg{
	background-color: #000000;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 30;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	.overflow{
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		
		z-index: 50;
		.top-head{
		position: relative;
		height: 50px;
		background-color: rgba(0, 0, 0, 0.28);
			.close-btn{
				border: 0;
				display: block;
				position: absolute;
				right: 10px;
				top: 10px;
				background-color: transparent;
				transition: 0.4s;
				height: 35px;
				width: fit-content;
				cursor: pointer;
				&:hover{
					background-color: rgba(255, 255, 255, 0.25);
					span{
						color: white;
					}
				}
				span{
					color: rgb(180, 175, 175);
					font-size: 35px;
					height: 35px;
		
				}
			
			}
		}
		.change-img{
			background-color: transparent;
			border: 0;
			top: calc(50% - 40px);
			position: absolute;
			height: 45px;
			padding: 0;
			cursor: pointer;
			transition: 0.4s;
			&:hover{
				span{
					color: white;
				}
			}
		}
		.left-btn{
			left: 30px;	
		}
		.right-btn{
			right: 30px;
		}
		.btn-changee-img{
			font-size: 45px;
			color: rgb(180, 175, 175);
		}
	}
	.slider_items{
		counter-reset: slide;
		margin: 0 auto;
		height: 100%;
		display: flex;
		justify-content: start;
		min-width: 100%;
		position: relative;

		left: 0;
		.slider_item{
			width: 1000px;
			counter-increment: slide;
			position: relative;
			height: 100%;
			min-width: 100%;
			display: flex;
			justify-content: center;
		}
	}
	
}