@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf");
}
* {
  margin: 0;
  padding: 0;
}

.toUp {
  border: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
  opacity: 70%;
}
.toUp:hover {
  opacity: 100%;
}

#header {
  width: 100%;
  background-color: #FFFFFF;
  z-index: 15;
  position: fixed;
  margin: 0;
  top: 0;
  box-shadow: 0 0 5px black;
}
#header .container {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-left: 20%;
  top: 0;
}
#header .container .logo_link {
  padding: 0;
  height: 47px;
}
#header .container .logo_link .logo-img {
  height: 100%;
  width: auto;
}
#header .container .header-menu {
  list-style: none;
}
#header .container .header-menu .menu-item {
  display: inline-block;
  padding: 10px 20px;
}
#header .container .header-menu .menu-item a {
  text-decoration: none;
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #333333;
  font-style: normal;
  transition: 0.4s;
}
#header .container .header-menu .menu-item a:hover {
  color: #5754FF;
}
#header .container .header-menu .item-active a {
  color: #5754FF;
}
#header .container .call_me {
  padding: 12px 24px;
  font-family: "Roboto", "sans-serif";
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  color: #FFFFFF;
  background-color: #5754FF;
  border: solid 2px #5754FF;
  transition: 0.4s;
  cursor: pointer;
}
#header .container .call_me:hover {
  background-color: #FFFFFF;
  color: #5754FF;
}
#header .container .select_lang {
  padding: 12px;
  color: #666;
  border: solid 1px #eaeaea;
  font-size: 16px;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
}

#PronasSection {
  padding-top: 60px;
  background-image: url(/images/whitesky.jpg);
  background-repeat: no-repeat;
  height: 1063.5px;
  background-size: 100% auto;
  position: relative;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
  background-color: #FFFFFF;
  padding: 15% 0px;
}
#PronasSection .bg {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#PronasSection .bg .first {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgb(58, 58, 58);
  display: block;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
#PronasSection .bg .text2 {
  color: #333333;
  font-size: 21px;
  text-align: center;
  font-size: 90px;
  font-family: Roboto, sans-serif;
}
#PronasSection .bg .line {
  background-color: rgb(64, 94, 201);
  width: 245px;
  height: 8px;
}
#PronasSection .pic {
  display: flex;
  align-items: flex-start;
}
#PronasSection .pic .soldphoto {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(/images/SoldierPicture.png);
  height: 1000px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  top: -130px;
}
#PronasSection .pic .words {
  font-family: "Open Sans", sans-serif;
  height: 636px;
  width: 800px;
  font-size: 20px;
  padding: 25px 0px;
  color: #393434;
  top: -1100px;
}

#MainSection {
  border: 1px solid black;
  width: 100%;
  height: 320px;
  margin-top: 70px;
  margin-bottom: 0px;
  padding: 80px 0 80px 0;
  background-image: url(/images/MainSection_bacground.png);
  background-position: 0px -211px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#MainSection .allinfo {
  border: 1px solid black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#MainSection .allinfo .text1 {
  font-family: "Roboto-Bold", Sans-serif;
  color: white;
  font-size: 48pt;
  font-weight: 900;
  border: 1px solid black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body {
  height: 100%;
  top: 0;
}/*# sourceMappingURL=style.css.map */