$blue: #1e43c9;
$white: #FFFFFF;
$text: #333333;
$purple: #5754FF;

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
	font-family: "Roboto-Black";
	src: url("../fonts/Roboto-Black.ttf");
}
* {
	margin: 0;
	padding: 0;
}
.toUp {
	border: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: transparent;
	transition: 0.4s;
	cursor: pointer;
	opacity: 70%;
	&:hover {
		opacity: 100%;
	}
}
#header {
    width: 100%;
    background-color: $white;
    z-index: 15;
    position: fixed;
    margin: 0;
    top: 0;
    box-shadow: 0 0 5px black;
	.container {
		display: flex;
		align-items: center;
		padding: 10px 0;
		margin-left: 20%;
		top: 0;
		.logo_link {
			padding: 0;
			height: 47px;
			.logo-img {
				height: 100%;
				width: auto;
			}
		}
		.header-menu {
			list-style: none;
			.menu-item {
				display: inline-block;
				padding: 10px 20px;
				a {
					text-decoration: none;
					font-family: "Roboto", Sans-serif;
					font-size: 15px;
					font-weight: 600;
					color: #333333;
					font-style: normal;
					transition: 0.4s;
					&:hover {
						color: #5754FF;
					}
				}
			}
			.item-active {
				a {
					color: #5754FF;
				}
			}
		}
		.call_me {
			padding: 12px 24px;
			font-family: "Roboto", "sans-serif";
			font-weight: 600;
			font-size: 16px;
			margin: 0 10px;
			color: #FFFFFF;
			background-color: #5754FF;
			border: solid 2px #5754FF;
			transition: 0.4s;
			cursor: pointer;
			&:hover {
				background-color: #FFFFFF;
				color: #5754FF;
			}
		}
		.select_lang {
			padding: 12px;
			color: #666;
			border: solid 1px #eaeaea;
			font-size: 16px;
			font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
		}
	}
}
#PronasSection {
	padding-top: 60px;
	background-image: url(/images/bg_dursec.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	animation-duration: 1.25s;
	animation-name: slideInUp;
	background-color: #FFFFFF;
	padding: 0 15%; 
    padding-top: 5%;
	position: relative;

	.op 
	{
		z-index: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 86%;
		background-color: #FFFFFF;
		left: 0;
		top: 0;
	}
	.bg {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		
		.first {
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			text-align: center;
			color: $text;
			display: block;
			font-weight: 400;
			font-style: normal;
			line-height: 27px;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			text-size-adjust: 100%;
			z-index: 10;
		}
		.text2 {
			color: $text;
			text-align: center;
			font-size: 43px;
			font-family: 'Roboto-Black', sans-serif;
			z-index: 10;
			display: block;
		}
		.line {
			background-color: $purple;
			width: 180px;
			height: 8px;
			z-index: 10;
		}
	}
	.pic {
		z-index: 10;
		display: flex;
		justify-content: space-between;
        padding: 0;
		.soldphoto {
			z-index: 10;
			background-image: url(/images/SoldierPicture.png);
			height: 780px;
			min-width: 595px;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.words {
			z-index: 10;
			font-family: "Open Sans", sans-serif;
			font-size: 16px;
			padding: 25px 0px;
			color: #393434;			
            font-weight: 200px;
            padding-top: 180px;
			letter-spacing: 1px;
			line-height: .7cm;

		}
	}
}

  #MainSection {
	width: 100%;
	height:520px;
	margin-top: 70px;
	margin-bottom: 0px;
	background-image: url(/images/MainSection_bacground.png);
	background-position: 0px -211px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	.allinfo {
		margin-left: 400px;
		justify-content: center;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;

		.text1 {

			font-family: "Roboto-Black", Sans-serif;
			color: white;
			font-size: 64pt;
	
			height: fit-content
		}
		.text2 {
			margin: 30px 0 30px 0;
			font-family: "Roboto", Sans-serif;
			color: white;
			font-size: 12pt;
			font-weight: 550;

			height: fit-content;
			line-height: 1.5 ;
		}
		.buttKonsultacia{
			margin: 20px 0 20px 0;
			width: 250px;
			height: 40px;
			background-color: none;
			border: 2px solid white;
			text-align: center;
			line-height:40px;
			font-family:"Roboto", Sans-serif;
		    font-weight: 450;
			color: white;
		}
		.buttKonsultacia:hover {
			background-color: white;
			color: #1916aa
		}
   }
}
 
#KonsulSection{
	width: 100%;
	height:410px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(/images/bg_22.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: relative;
	.grab{
		height: 410px;
		width:400px;
		background-size: 105% auto;
		background-image: url(/images/grab.png);
		right: 350px;
		background-repeat: no-repeat;
		z-index: 5;
		position: absolute;
		
	}
	.backcolor{
		width: 100%;
		height: 100%;
		background-color: #2600ff;
		z-index: 0;
		opacity:80% ;
		position: absolute;
	}
	.allinfo {
		margin-left: 400px;
		padding-top: 20px;
		justify-content: center;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		z-index: 5;
		.text1_2{

			font-family: "Roboto-Black", Sans-serif;
			color: white;
			font-size: 34pt;
			z-index: 5;
			height: fit-content
		}
		.text2 {
			margin: 20px 0 20px 0;
			font-family: "Roboto", Sans-serif;
			color: white;
			font-size: 12pt;
			font-weight: 550;
			z-index: 5;
			height: fit-content;
			line-height: 1.5 ;
		}
		.buttKonsultacia{
			margin: 20px 0 20px 0;
			width: 250px;
			height: 40px;
			background-color: none;
			border: 2px solid white;
			text-align: center;
			line-height:40px;
			font-family:"Roboto", Sans-serif;
		    font-weight: 450;
			color: white;
			z-index: 5;
		}
		.buttKonsultacia:hover {
			background-color: white;
			color: #1916aa
		}
	
   }

}

#PoslugySection{
	padding: 5% 20%;
	.header-section{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.first {
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			text-align: center;
			color: $text;
			display: block;
			font-weight: 400;
			font-style: normal;
			line-height: 27px;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			text-size-adjust: 100%;
			z-index: 10;
		}
		.text2 {
			color: $text;
			text-align: center;
			font-size: 43px;
			font-family: 'Roboto-Black', sans-serif;
			z-index: 10;
			display: block;
		}
		.line {
			background-color: $purple;
			width: 180px;
			height: 8px;
			z-index: 10;
		}
	}
	.content{
		table{
			width: 100%;
			border-spacing: 20px;
			tr{
				height: 280px;
				td{
					height: 280px;
					
					div{
						width: 100%;
						height: 100%;
						position: relative;
						transform-style: preserve-3d;
						transition: 1s;
						&:hover{
							transform: rotate3d(1, 0, 0, 180deg);;
							backface-visibility: visible;
						}
						.photo-bg{
							background-size: cover;
							background-repeat: no-repeat;
							height: 100%;
							max-width: 100%;
							left: 0;
							z-index: 2;
							
							div{
								z-index: 10;
								display: flex;
								justify-content: end;
								flex-direction: column;
								text-align: center;
								span{
									color: $white;
									font-family: "Roboto-Bold";
									text-align: center;
									font-size: 32px;
									
									overflow-wrap: break-word;
									word-wrap: break-word;
									padding: 30px;
									
								
								}
								
							}
							
							
						}
						.bg{
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							background-color: black;
							opacity: 30%;
							z-index: 2;
							
						}
						.bg-front{
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							background-color: transparent;
							background-image: linear-gradient(180deg, #4C4CFF 0%, #1F1FFF 100%);
							z-index: -1;
						
						}
					}
					
					
				}
			}
		}
	}
}

#PortfolioSection{

}

#FeedbackSection{

}

#FeedbackGoogleSection
{
	background-color:#9595FF21;
	.bg {

		z-index: 5;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		
		.first {
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			text-align: center;
			color: $text;
			display: block;
			font-weight: 400;
			font-style: normal;
			line-height: 27px;
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			text-size-adjust: 100%;
		}
		.text2 {
			color: $text;
			text-align: center;
			font-size: 65px;
			font-family: 'Roboto-Black', sans-serif;
		}
		.line {
			background-color: $purple;
			width: 245px;
			height: 8px;
		}
	}

	.GridShow
	{
		display: grid;

		grid-template-columns: 50% 50%;

		padding: 40px 300px;

		grid-row-gap: 20px;

		grid-column-gap: 10px ;

		.box
		{
			box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 5px 0px;
			border: 2px solid rgba(26, 24, 24, 0.184);
		
			flex-direction: row;

			align-self: center;

			position: relative;

			box-sizing: border-box;

			border-radius: 4px;

			

			.outerbox
			{
				padding: 10px 20px;
				height: 275px;
				.txt
				{
					height: 130px;
					letter-spacing: 1px;
					line-height: .7cm;
					color: #333333;
					font-family: "Open Sans", Sans-serif;
					font-size: 15px;
					font-weight: 100px;
					padding: 20px 0px;

					
				}
				.name
				{
					.photo
					{
						display: flex ;
						align-items: center;
						.rlname
						{
							padding: 0px 20px;
							color: #4c4cff;
							font-family: "Roboto", Sans-serif;
							font-size: 16px;
							font-weight: 600px;
						}
						.fullpic
						{
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: 50%;
							min-height: 60px;
							min-width: 60px;
							background-image: url(/images/yulia.jpg);
						}
						.fullpic1
						{
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: 50%;
							min-height: 60px;
							min-width: 60px;
							background-image: url(/images/Eugene.jpg);
						}
						.fullpic2
						{
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: 50%;
							min-height: 60px;
							min-width: 60px;
							background-image: url(/images/Vdim.jpeg);
						}
						.fullpic3
						{
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: 50%;
							min-height: 60px;
							min-width: 60px;
							background-image: url(/images/Yura.jpg);
						}
					}
				}			
				
			}
			&:hover
				{
					background-color: #bdbdca77;
				}
		}
	}
	
	

}

#FooterSection{

}

#UnderFooterSection{

}

body{
    height: 100%;
    top: 0;
}